.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;

  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(72, 218, 255, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
